.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  font-size: 1em;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

button:hover {
  background-color: #e0e0e0;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

ul li {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

ul li span {
  font-weight: normal;
  margin-left: 10px;
}

ul li button {
  font-size: 1em;
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
}

ul li button:hover {
  background-color: #e0e0e0;
}

.container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
}

.left {
  font-size: 24px;
}

.right {
  font-size: 20px;
}
  